.App {
  /* display: grid; */
  width: 100%;
  height: 100vh;

  background-color: #eff2fb;
  gap: 10px;

  overflow: hidden;
}

.sidebar-with-container {
  display: flex;
  gap: 5px;
}

.main-content {
  display: flex;
  width: 100%;
}
